// Background colours
$backgroundColour: #000000 !default;
$codeBackgroundColour: #0d0d0d !default;
$featureBackgroundColour: #000000 !default;
$accentColour: #39ff14 !default;

// Text colours
$headingColour: #bdbcb9 !default;
$bodyColour: #bdbcb9 !default;
$linkColour: #39ff14 !default;
$hoverColour: #317ff5 !default;
$focusColour: #39ff14 !default;
$captionColour: #39ff14 !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Fira Code, monospace",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Fira Code", monospace',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Fira Code, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
