// Background colours
$backgroundColour: #0b0e14 !default;
$codeBackgroundColour: #0f1320 !default;
$featureBackgroundColour: #0f1320 !default;
$accentColour: #9be7ff !default;

// Text colours
$headingColour: #e6e6e6 !default;
$bodyColour: #d9e1ef !default;
$linkColour: #9be7ff !default;
$hoverColour: #c7f1ff !default;
$focusColour: #32cd32 !default;
$captionColour: #94a3b8 !default;
$white: #ffffff !default;

// Typography
$bodytype: (
  font-family: "Georgia, serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
